<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studenti</title>
</head>

<body>
  <h1>Aggiungi un nuovo studente</h1>
  <form action="/students/add" method="post">
    <label for="firstName">Nome</label>
    <input type="text" id="firstName" name="firstName">
    <label for="lastName">Cognome</label>
    <input type="text" id="lastName" name="lastName">
    <button type="submit">Aggiungi</button>
  </form>
</body>

</html>