<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Corsi</title>
</head>

<body>
  <h1>Aggiungi un nuovo corso</h1>
  <form action="/courses/add" method="post">
    <label for="name">Nome del corso</label>
    <input type="text" id="name" name="name">
    <label for="type">Tipo di corso</label>
    <select name="type" id="type">
      <option value="Triennale">Triennale</option>
      <option value="Magistrale">Magistrale</option>
      <option value="Master">Master</option>
    </select>
    <button type="submit">Aggiungi</button>
  </form>
</body>

</html>