<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Corsi</title>
</head>

<body>
  <a href="/dashboard">Dashboard</a>
  <h1>Corsi</h1>
  <% if(courses.length===0){ %>
    <p>Non ci sono corsi disponibili, <a href="/courses/add">clicca qui</a> per aggiungere un corso.</p>
    <% } else{ %>
      <ul>
        <% for(let i=0; i < courses.length; i++) {%>
          <li>
            <a href="/courses/<%=courses[i]._id%>">
              <%= courses[i].name %>
            </a>
          </li>
          <% }%>
      </ul>
      <% } %>
</body>

</html>