<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestione università</title>
</head>

<body>
  <h1>Gestione università</h1>
  <a href="/user/logout">Logout</a>
  <br>
  <a href="/user/delete">Elimina account</a>
  <ul>
    <li><a href="/students">Visualizza studenti</a></li>
    <li><a href="/students/add">Aggiungi studente</a></li>
    <li><a href="/courses">Visualizza corsi</a></li>
    <li><a href="/courses/add">Aggiungi corso</a></li>
    <li><a href="/students/addcourse">Aggiungi corso a studente</a></li>
  </ul>
</body>

</html>