<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studenti</title>
</head>

<body>
  <a href="/">Home</a>
  <h1>Studenti</h1>
  <% if(students.length===0){ %>
    <p>Non ci sono corsi disponibili, <a href="/students/add">clicca qui</a> per aggiungere uno studente.</p>
    <% } else{ %>
      <ul>
        <% for(let i=0; i < students.length; i++) {%>
          <li>
            <a href="/students/<%= students[i]._id %>">
              <%= students[i].firstName %>
                <%= students[i].lastName %>
            </a>
          </li>
          <% }%>
      </ul>
      <% } %>
</body>

</html>